@{
    ViewData["Title"] = "QA Portfolio";
}

<div class="text-center mt-5">
    <h1 class="display-4">QA Automation Portfolio</h1>

    <h3 class="mt-4">Esteban López Orihuela</h3>

    <p class="lead mt-3">
        QA Engineer especializado en automatización de pruebas y calidad de software.
    </p>

    <hr />

    <h4>Herramientas y Tecnologías</h4>

    <ul class="list-unstyled mt-3">
        <li>✔ Selenium WebDriver</li>
        <li>✔ C# .NET</li>
        <li>✔ API Testing</li>
        <li>✔ SQL</li>
        <li>✔ Azure DevOps</li>
        <li>✔ TeamCity</li>
        <li>✔ GitHub</li>
    </ul>
</div>